
# Ignore all directories in that contain python compiled code.
__pycache__/

# Ignore game database file
app/games.db

# Ignore all the modifier files that get generated via the application
**/modifiers?.pkl

# Ignore all the history files that get generated via the application
**/history?.txt

# Ingore debug file
**/debug.txt

# Ignore virtual environment directory
venv/

