<style>
.init-wait-loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 12.5%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<script>
    $(function() {
      $("#wait-dialog").dialog();
    });
</script>


<div id="wait-dialog" title="Initializing...">
  <div class='init-wait'>
    <label class='init-wait-message'> Please wait while the game: {{ name }} initializes. This could take a couple of minutes.</label>
    <div class='init-wait-loader'></div>
  </div>
</div>


