<style>
.top-menu {
  display: grid;
  grid-template-columns: 120px 100px 100px 100px 100px 100px 75px 250px 100px auto auto;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  height: 50px;
}

/* Links inside the navbar */
.top-menu a {
  font-size: 14px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.top-menu a:not(.no-hover):hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

{# .no-hover {
  background-color: yellow;
  color: red;
  text-decoration: none;
} #}

.top-menu .company-btn  label {
  font-size: 12px;  
}

.top-menu .budget-btn label {
  font-size: 12px;
  margin-left: -10px;
}

.top-menu .push-up {
  margin-top: -10px;
}

.top-menu.go {
  background-color: #228b22;
  color: #f2f2f2;
  text-decoration: none;
}
  
.top-menu a.stop {
  background-color: #cc3300;
  color: #f2f2f2;
  text-decoration: none;
}

.top-menu.running {
  background-color: #ffaa00;
  color: #f2f2f2;
  text-decoration: none;
}

#build-facility-btn.building {
  background-color: lightblue;
  color: black;
  text-decoration: none;
}


#next-turn-button {
  padding: 0;
  margin: 0;
  font-size: 11px;
  border-radius: 5px;
}

#next-turn-btn label {
  margin-bottom: 2px;
}

a.playing {
  background-color: #228b22;
  color: #f2f2f2;
  text-decoration: none;
}

a.waiting {
  background-color: #968022 ;
  color: #f2f2f2;
  text-decoration: none;
}

a.running {
  background-color: #cc3300;
  color: #f2f2f2;
  text-decoration: none;
}

.stripes-loader {
  /* margin: -30px; */
  /* height: 20px; */
  /*should not be larger than 20px*/
  /* position: relative; */
  background: linear-gradient(90deg, #eee 50%, transparent 50%);
  /* background-color: crimson; */
  background-size: 200%;
  background-position: 100%;
  border-radius: 5px;
  transform: scale(1);
  transition: 0.3s;
}

.stripes-loader:before {
  content: "";
  margin-left: -18px;
  position: absolute; 
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(
    75deg,
    transparent 25%,
    rgba(238, 238, 238, 0.5) 25%,
    rgba(238, 238, 238, 0.5) 60%,
    transparent 30%,
    transparent 35%,
    rgba(238, 238, 238, 0.5) 35%,
    rgba(238, 238, 238, 0.5) 70%,
    transparent 70%
  );
  animation: shift 1s linear infinite;
  background-size: 60px 100%;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2),
    inset 0 -2px 1px rgba(0, 0, 0, 0.2);
}

@keyframes shift {
  
    0% {background-position: 0 0;} 100% {background-position: 60px 0px;}
  
}

</style>

<div id="game-top-menu" class="top-menu">
  <a id="portfolio-btn" class="company-btn push-up" href="#">{{ company.name }}<br/> <label> (portfolio) </label></a>
  <a class="budget-btn push-up no-hover" href="#">Balance: <label> {{ format_money(company.balance) }} </label> </a>
  <a class="market-btn push-up no-hover" href="#"> World Market</a>
  <a class="social-btn no-hover" href="#"> Social</a>
  <a id="quarterly-report-btn" class="q-report-btn push-up" href="#"> Quarterly Report</a>
  <a class="turn-btn push-up no-hover" href="#"> {{ current_game_date }}
    <br/>
    <label> Turn: {{ game.turn_number }} </label>
  </a>
  {% include 'nextturnbutton.jinja' %}
  <div>
    <!-- Grid Column place holder -->
  </div>

  <a class="build-btn push-up" id="build-facility-btn" href="#">Build Facility</a>
  <a class="help-btn no-hover" href="#">Help</a>
  <a class="options-btn" href="#">Options</a>
</div>
