<style>
</style>

<div id="portfolio-title"></div>
<div id="portfolio-content">

  <div id="portfolio-top-half">

    <div id="portfolio-top-left">
      <div id="portfolio-summary"></div>
      <div id="portfolio-graph"></div>
    </div>

    <div id="portfolio-top-right">
      <div id="portfolio-metrics"></div>
      <div id="portfolio-options"></div>
    </div>

  </div>

  <div id="portfolio-bottom-half">
    <div id="portfolio-facility-list-heading"></div>
    <div id="portfolio-facility-list-table"></div>
  </div>

</div>