<div id="dialog" class="container" width="450" title="  {{ facility.name }}"> {#facility-name="{{ facility.name }}"> #}
  <div class="vf-facility-info">
    <div class="row">
      <div class="col-lg">
        <label> Type: </label>
      </div>
      {#
      <div class="col-md"></div> #}
      <div class="col-md">
        <label>{{ facility_type.name }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label> Owned By: </label>
      </div>
      <div class="col-md">
        <label> {{ facility.company.name }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label> Current State: </label>
      </div>
      <div class="col-md">
        <label>{{ facility.state }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label> Available Capacity: </label>
      </div>
      <div class="col-md">
        <label> {{ faccap }} MW</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label> Date Built: </label>
      </div>
      <div class="col-md">
        </label>{{ facility.start_prod_date }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label> # of Generators: </label>
      </div>
      <div class="col-md">
        </label>{{ facility.generators|length }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label> Power Type: </label>
      </div>
      <div class="col-md">
        <label> {{ power_type }} </label>
      </div>
    </div>
  </div>
</div>