<style>
  .even-row {
    background-color: #e6eaec;
  }
</style>

<div class="row">
  <div class="col-lg-6">
    <label> OM Costs: </label>
  </div>
  <div class="col-md-6">
    <label>{{ format_money(generator.om_cost) }}</label>
  </div>
</div>
<div class="row even-row">
  <div class="col-lg-6">
    <label> Revenue: </label>
  </div>
  <div class="col-md-6">
    <label> {{ format_money(generator.revenue) }}</label>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <label> Profit: </label>
  </div>
  <div class="col-md-6">
    <label> {{ format_money(0.0) }}</label>
  </div>
</div>
<div class="row even-row">
  <div class="col-lg-6">
    <label> Total Nameplate Capacity: </label>
  </div>
  <div class="col-md-6">
    <label> {{ generator.generator_type.nameplate_capacity }} MW</label>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <label> Start Production Date: </label>
  </div>
  <div class="col-md-6">
    </label>{{ production_date }}</label>
  </div>
</div>
<div class="row even-row">
  <div class="col-lg-6">
    <label> End of Life Date: </label>
  </div>
  <div class="col-md-6">
    </label> {{ end_of_life_date }} </label>
  </div>
</div>
<div class="row">

  <div class="col-lg-6">
    <label> Bid Policy: </label>
  </div>

  <div class="col-md-6">
    {% if generator.local_bid_policy == 'Company Wide' %}
    <label> {{ generator.local_bid_policy }} ({{ generator.facility.company.global_bid_policy }}) </label>
    {% else %}
    <label> {{ generator.local_bid_policy }} </label>
    {% endif %}
  </div>

</div>

<div class="row even-row">

  <div class="col-lg-6">
    <label> Maintenance Policy: </label>
  </div>

  <div class="col-md-6">
    {% if generator.local_maintenance_policy == 'Company Wide' %}
    <label> {{ generator.local_maintenance_policy }} ({{ generator.facility.company.global_maintenance_policy }}) </label>
    {% else %}
    <label> {{ generator.local_maintenance_policy }} </label>
    {% endif %}
  </div>

</div>

<div class="row">
  <div class="col-lg-6">
    <label> Modifications: </label>
  </div>
  <div class="col-md-6">
    <label> </label>
  </div>
</div>