<div class="row">
  <div class="col-lg">
    <label> OM Costs: </label>
  </div>
  <div class="col-md">
    <label>{{ generator.om_cost }}</label>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <label> Revenue: </label>
  </div>
  <div class="col-md">
    <label> {{ generator.revenue }}</label>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <label> Profit: </label>
  </div>
  <div class="col-md">
    <label> 0.0 </label>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <label> Total Nameplate Capacity: </label>
  </div>
  <div class="col-md">
    <label> {{ generator.generator_type.nameplate_capacity }} MW</label>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <label> Start Date: </label>
  </div>
  <div class="col-md">
    </label>{{ generator.start_prod_date }}</label>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <label> Lifetime (anticipated end date): </label>
  </div>
  <div class="col-md">
    </label> </label>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <label> Bid Policy: </label>
  </div>
  <div class="col-md">
    <label> {{ generator.local_bid_policy }} </label>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <label> Maintenance Policy: </label>
  </div>
  <div class="col-md">
    <label> Routine </label>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <label> Modifications: </label>
  </div>
  <div class="col-md">
    <label> </label>
  </div>
</div>