<div id="dialog" class="container" title="City - {{city.name}}">
  <div class="vf-facility-info">
    <div class="row">
      <div class="col-lg">
        <label> Population: </label>
      </div>
      <div class="col-md">
        <label>{{ commaNumber(city.population) }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <label> Consumes: </label>
      </div>
      <div class="col-md">
        <label> {{ commaNumber(city.daily_consumption) }} MW </label>
      </div>
    </div>
  </div>
</div>