<style>
  #quarterly-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px 30px 320px;
  }

  .grid-box {
    background-color: lightcyan;
    color: black;
  }

  /* ******************************************************************* 
   * Summary style        
   ******************************************************************* */
  #quarterly-summary {
    grid-column: 1;
    grid-row: 1;
    background-color: #efefef;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }

  .summary-content {
    margin-top: 12px;
  }

  .summary-row {
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
  }

  /* ******************************************************************* 
   * Metrics style        
   ******************************************************************* */
  #quarterly-metrics {
    grid-column: 2;
    grid-row: 1;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }

  .quarterly-metrics-content {
    margin-top: 15px;
  }

  .quarterly-metrics-title {
    margin-left: 50px;
  }

  .quarterly-sub-metric {
    display: inline-block;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .societal-link {
    margin-left: 20px;
  }


  /* ******************************************************************* 
   * Events Title style        
   ******************************************************************* */
  #quarterly-events-list-heading {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #fff;
    color: black;
    border-bottom-width: -3px;
    border-top-width: -3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
  }

  #quarterly-events-list-heading label {
    margin-left: 10px;
    font-size: 115%;
    font-weight: bold;
  }

  /* ******************************************************************* 
   * Events list table style
   ******************************************************************* */
  #quarterly-events-list-table {
    grid-column: 1 / span 2;
    grid-row: 3;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }
</style>

<div id="quarterly-content">

  <div id="quarterly-summary" class="grid-box">
    <div class="container summary-content">

      <div class="row summary-row">
        <label class="field col-lg-7">Expenses:</label>
        <label class="value col-lg-5">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="sep col-lg-1"></label>
        <label class="field col-lg-6">Construction:</label>
        <label class="value col-lg-1">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="sep col-lg-1"></label>
        <label class="field col-lg-6">OM:</label>
        <label class="value col-lg-1">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="sep col-lg-1"></label>
        <label class="field col-lg-6">Decom:</label>
        <label id="" class="value col-lg-1">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="field col-lg-7">Revenue:</label>
        <label class="value col-lg-5">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="field col-lg-7">Profit:</label>
        <label class="value col-lg-5">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="field col-lg-7">Net Worth:</label>
        <label class="value col-lg-5">{{ format_money(0) }}</label>
      </div>

    </div>
  </div>

  <div id="quarterly-metrics" class="grid-box">
    <div class="container quarterly-metrics-content">

      <div class="row">
        <label class="quarterly-metrics-title">Company-Wide "health" metrics</label>
      </div>

      <div class="row">
        <div class="quarterly-sub-metric">
          <img src="{{ url_for('static', filename='img/icons/environmental.png') }}" alt="Environmental" />
          <a href="#" class="">Environmental</a>
        </div>
        <div class="quarterly-sub-metric">
          <img src="{{ url_for('static', filename='img/icons/societal.png') }}" alt="Societal" />
          <a href="#" class="societal-link">Societal</a>
        </div>
        <div class="quarterly-sub-metric">
          <img src="{{ url_for('static', filename='img/icons/technology.png') }}" alt="Technology" />
          <a href="#" class="">Technological</a>
        </div>
      </div>

    </div>
  </div>

  <div id="quarterly-events-list-heading" class="grid-box"><label>Event List (Click on an event name for more details)</label></div>
  <div id="quarterly-events-list-table" class="grid-box"><label></label></div>

</div>