<style>
  #quarterly-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 350px 350px;
    grid-template-rows: 200px 30px 300px;
  }

  .grid-box {
    background-color: lightcyan;
    color: black;
  }

  /* ******************************************************************* 
   * Summary style        
   ******************************************************************* */
  #quarterly-summary {
    grid-column: 1;
    grid-row: 1;
    background-color: #efefef;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }

  .summary-content {
    margin-top: 12px;
  }

  .summary-row {
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
  }

  /* ******************************************************************* 
   * Metrics style        
   ******************************************************************* */
  #quarterly-metrics {
    grid-column: 2;
    grid-row: 1;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }


  /* ******************************************************************* 
   * Events Title style        
   ******************************************************************* */
  #quarterly-events-list-heading {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #fff;
    color: black;
    border-bottom-width: -3px;
    border-top-width: -3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
  }

  #quarterly-events-list-heading label {
    margin-left: 10px;
    font-size: 115%;
    font-weight: bold;
  }

  /* ******************************************************************* 
   * Events list table style
   ******************************************************************* */
  #quarterly-events-list-main {
    grid-column: 1 / span 2;
    grid-row: 3;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

  }

  #quarterly-events-list-main hr {
    margin: 2px;
  }

  .summary-row .value {
    font-size: 13px;
    font-weight: bold;
  }
</style>

<div id="quarterly-content">

  <div id="quarterly-summary" class="grid-box">
    <div class="container summary-content">

      <div class="row summary-row">
        <label class="field col-lg-7">Expenses:</label>
        <label class="value col-lg-5">{{ format_money( fac_const + gen_const) }}</label>
      </div>

      <div class="row summary-row">
        <label class="sep col-lg-1"></label>
        <label class="field col-lg-6">Construction:</label>
        <label class="value col-lg-1">{{ format_money( fac_const + gen_const) }}</label>
      </div>

      <div class="row summary-row">
        <label class="sep col-lg-1"></label>
        <label class="field col-lg-6">OM:</label>
        <label class="value col-lg-1">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="sep col-lg-1"></label>
        <label class="field col-lg-6">Decom:</label>
        <label id="" class="value col-lg-1">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="field col-lg-7">Revenue:</label>
        <label class="value col-lg-5">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="field col-lg-7">Profit:</label>
        <label class="value col-lg-5">{{ format_money(0) }}</label>
      </div>

      <div class="row summary-row">
        <label class="field col-lg-7">Balance:</label>
        <label class="value col-lg-5">{{ format_money(company.balance) }}</label>
      </div>

    </div>
  </div>

  <div id="quarterly-metrics" class="grid-box">
    <br/> {% include 'metrics.html' %}
  </div>

  <div id="quarterly-events-list-heading" class="grid-box"><label>Event List (Click on an event name for more details)</label></div>

  <div id="quarterly-events-list-main" class="grid-box">
    <span id="sidebar-title">
      <h4 class="sidebar-title-heading">Event Items</h4>
      <label class="sidebar-open-close-btn closed-b">&#9664;</label>
      <label class="sidebar-btn-window">&#10697;</label>
      <label class="sidebar-btn-trash">&#128465;</label>
      <h4 class="sidebar-title-heading">Details</h4>
    </span>

    <hr/>

    <div id="quarterly-events-list-table">
      <p>There are no events to display...</p>
    </div>

    <div id="quarterly-events-list-sidebar" class="event-sidebar closed-sb">
      <div id="sidebar-content-default" class="no-show default-content">
        <br/>
        <h3>Event Details Window</h3>
        <br/>
        <br/>
        <h5>click on event item in table.</h5>
      </div>
      <div id="sidebar-content-event" class="no-show event-content"></div>
    </div>

  </div>
</div>


<style>
  .closed-sb {
    margin: 0;
    width: 0px;
    transition: 0.5s;
  }

  .opened-sb {
    margin: 0;
    width: 400px;
    transition: 0.5s;
  }

  .no-show {
    display: none;
  }

  #quarterly-events-list-table {
    /* margin-right: 0; */
    overflow: hidden;
    transition: margin-right .5s;
  }

  #sidebar-title {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    height: 34px;
    overflow: hidden;
  }

  #sidebar-title label {
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    color: #444;
  }

  #sidebar-title label:hover {
    color: blue;
    border-color: #000;
  }

  .sidebar-title-heading {
    display: inline-block;
    margin-top: 0px;
    width: 300px;
  }

  .closed-b {
    margin-left: 45%;
    transition: 0.5s;
  }

  .opened-b {
    margin-left: 0;
    transition: 0.5s;
  }

  .open-sb {
    width: 400px;
    transition: 0.5s;
  }

  .open-t {
    overflow: scroll;
    width: 302px;
    /* margin-right: 350px; */
  }

  .event-sidebar {

    height: 240px;
    position: absolute;
    z-index: 5;
    top: 305px;
    right: 22px;
    background-color: #eee;

    overflow: hidden;
    transition: 0.5s;
    padding-top: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
    opacity: .15;
  }

  .event-sidebar:hover {
    opacity: 1;
    /* border-radius: 5px; */
  }

  .default-content {
    margin: 5px;
    text-align: center;
  }

  .event-content {
    display: inline;
  }
</style>